<footer>
  <div class="title"><h2>Company Title</h2></div>
  <div class="footer-menu">
    <div class="menu-item"><h4>Home</h4></div>
    <div class="menu-item"><h4>About</h4></div>
  </div>
  <div class="copyright" style="text-align: center">
    &copy; Copyright 2024 Vedant Parkhe.<br />
    All rights reserved
  </div>
</footer>
