.carousel-container {
  width: 100%;
  overflow: hidden;
}

.carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  padding: 1em;
  margin: 1em;
}

.carousel::-webkit-scrollbar {
  display: none; /* WebKit */
}
.section-heading {
  padding: 1em;
}
.recipe-card {
  flex: 0 0 auto;
  width: 240px;
  scroll-snap-align: start;
  margin-right: 20px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 2px solid snow;
  padding-bottom: 1em;
}

.recipe-card:hover {
  transform: scale(1.05);
  transition: 300ms ease-in-out;
}

.recipe-thumb {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.recipe-title {
  font-size: 18px;
  margin: 10px 0;
  padding: 10px 10px;
  height: 50px;
}

.add-to-fav {
  text-align: right;
  padding: 0 10px;
}

.card-features {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 80px;
}

.see-more {
  border-radius: 10px;
  padding: 0.5em;
  border: 2px solid rgb(23, 0, 128);
  background-color: rgb(255, 136, 0);
}

@media screen and (max-width: 600px) {
  .recipe-card {
    transform: scale(0.8);
    margin-right: 0;
  }
  .recipe-card:hover {
    transform: scale(0.9);
  }
}
